<form action="/save_status_stage_filter">
<h3>What status stage would you like to see a song list for?</h3>
<label for="status">Status stage options are</label>
    <select id="status" name="stage">
      <% Status.all.each do |status| %>
         <option value= "<%= status.id %>" ><%= status.stage %> </option>
      <% end %>
    </select></br>
  
<input type="submit">
</form>