<h1> Welcome to the Song Inventory Database</h1>
<h3>Old navigation system </h3>
<div style="display:inline-flex";>
<ul><b>Add</b>
  <li><a href="/add/type">genre type</a></li>
  <li><a href="/add/stage">status stage (may remove)</a></li>
  <li><a href="/add/song">a song record</a></li>
</ul>

<ul><b>Edit</b>
  <li><a href="/edit/complete_record">Complete song record</a></li>
  
  <li><a href="/edit/title">a title of a song</a></li>
  <li><a href="/edit/artist">the artist of a song</a></li>
  <li><a href="/edit/genre">the genre type of a song</a></li>
  <li><a href="/edit/status">the status stage of a song</a></li>
</ul>

<ul><b>View</b>
  <li><a href="/view/song_list">the complete song list</a></li>
  <li><a href="/view_same/artist">all songs with the artist</a></li>
  <li><a href="/view_same/type">all songs with same genre</a></li>
  <li><a href="/view_same/stage">all songs with the same status stage</a></li>
</ul>

<ul><b>Delete</b>
  <li><a href="/delete/song">a song record</a></li>
  <li><a href="/delete/type">genre type</a></li>
  <li><a href="/delete/stage">status stage</a></li>
</ul>
</div>
